@import "../../indexStyles.scss";

.Menu{
    // background-color: red;
    width: 90%;
    margin: 0 0 1rem 0;
    color: $card_back;
    font-weight: bold;
    @include flexCenter(column,center,center);

    input{
        border-radius: 0.5rem;
        padding: 0.4rem 1rem;
        background: transparent;
        color: white;
        border: 0.2rem solid $border_box;
        margin: 1rem 0;
        width: 15rem;
    }

    input[type="submit"]{
        background: $card_back;
        color: $main;
        font-weight: bold;
        width: 100%;
    }
    .Room{
        input{
            width: 11.2rem;
        }
        button{
            color: $card_back; 
            padding: .38rem;
            background: transparent;
            border: 2px solid $border_box;
            border-radius: 0.5rem;
        }
    }
}

@include Smartphone{
    .Menu{
        flex-direction: row !important;
        justify-content: space-between;
    }
}