@import "../../indexStyles.scss";

.Menu{
    // background-color: red;
    width: 90%;
    margin: 0 0 1rem 0;
    color: $card_back;
    font-weight: bold;
    @include flexCenter(row,center,space-between);

    input{
        border-radius: 0.5rem;
        padding: 0.4rem 1rem;
        background: transparent;
        color: white;
        border: 0.2rem solid $border_box;
    }

    input[type="submit"]{
        background: $card_back;
        color: $main;
        font-weight: bold;
    }
}