@import "../../../indexStyles.scss";
.Modal{
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 99;
    @include flexCenter(row,center,center);

    
}

.Activo{
    top: 0;
}