$background:#141E30;
$border_box:#5C6D87;
$card_back:#FBFBFB;
$sub:#5F698F;
$main:#57536A;

//Icons
$scissors:#EBA823;
$paper:#5570F2;
$rock:#E13C55;
$lizard:#8955E5;
$spock:#42BBCC;

$scissors_shadow:#C86A13;
$paper_shadow:#2944C4;
$rock_shadow:#9C1634;
$lizard_shadow:#5D36A8;
$spock_shadow:#2D8FAC;
$white_shadow:#BABED2;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;

}
// MEDIA QUERIES
@mixin Smartphone {
  @media (min-width: 480px) {
      @content;
  }
}
@mixin Laptop {
  @media (min-width: 768px) {
      @content;
  }
}
@mixin Desktop {
  @media (min-width: 1024px) {
      @content;
  }
}

@mixin flexCenter($direction, $align, $justify) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction !important;
  align-items: $align;
  justify-content: $justify;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 01) 0px 3px 8px;
}