@import "../../indexStyles.scss";

.Rules{
    border: 0.2rem solid $border_box;
    border-radius: 1rem;
    padding: 1rem 4.5rem;
    color: $border_box;
    font-weight: bold;
    font-size: 2rem;
}
.Container{
    background: white;        
    border-radius: 1rem;
    padding: 4rem;
    
    .Header{
        // background-color: rebeccapurple;
        margin-bottom: 2rem;
        color: $main;
        @include flexCenter(row,center,space-between);
        button{
            border: none;
            background: white;
            font-size: 3rem;
            &:hover{
                cursor: pointer;
            }
        }
    }
}